@tailwind base;
@tailwind components;
@tailwind utilities;

.wt-title {
  @apply text-3xl font-bold underline mb-10 text-gray-900 dark:text-gray-100;
}

.wt-title-better {
  @apply text-5xl font-extrabold text-gray-900 dark:text-gray-100 mb-4 tracking-tight;
}


body {
  @apply text-gray-900 dark:text-gray-100;
}

/* Hide vertical scrollbar but allow scrolling */
.hide-scrollbar {
  overflow-y: scroll; /* Allows scrolling */
  scrollbar-width: none; /* For Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}
